docs/n8n-workflows/editorial-automation.json
{
  "name": "Sapienza Labs — Automação Editorial",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1,3,5"
            }
          ]
        }
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Cron seg/qua/sex 08h BRT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, 240],
      "notes": "11:00 UTC = 08:00 BRT (UTC-3). Mon=1, Wed=3, Fri=5."
    },
    {
      "parameters": {
        "jsCode": "// Define o pilar do dia e a query de tendências correspondente.\nconst day = new Date().getDay(); // 0=Dom .. 6=Sáb\nconst map = {\n  1: { pilar: 'engenharia', search_query: '\"automação de processos IA PME 2026\" OR \"inteligência artificial pequenas empresas\"' },\n  3: { pilar: 'pme', search_query: '\"gestão digital PME Brasil 2026\" OR \"operações digitais escritório advocacia contabilidade\"' },\n  5: { pilar: 'bastidores', search_query: '\"desenvolvimento de software sob medida Brasil\" OR \"branding estúdio tech 2026\"' }\n};\nconst ctx = map[day] || map[3];\nreturn [{ json: { pilar: ctx.pilar, search_query: ctx.search_query, today: new Date().toISOString().slice(0, 10) } }];"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Set Pilar Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 240]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.search_query) }}&hl=pt-BR&gl=BR&ceid=BR:pt-419",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Buscar Tendências (RSS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 240]
    },
    {
      "parameters": {
        "jsCode": "// Extrai os 5 primeiros títulos do RSS do Google News.\nconst xml = $input.first().json.data || '';\nconst items = [...xml.matchAll(/<item>([\\s\\S]*?)<\\/item>/g)].slice(0, 5);\nconst clean = (s) => (s || '').replace(/<!\\[CDATA\\[|\\]\\]>/g, '').replace(/<[^>]+>/g, '').trim();\nconst trends = items\n  .map((m) => clean((m[1].match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1]))\n  .filter(Boolean);\nconst ctx = $('Set Pilar Context').first().json;\nreturn [{ json: { ...ctx, trends: trends.join('\\n') } }];"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Parse Tendências",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 240]
    },
    {
      "parameters": {
        "jsCode": "// Monta o corpo da requisição para a Claude API.\nconst ctx = $input.first().json;\nconst system = `Você é o ghostwriter da Sapienza Labs, estúdio de software sob medida para PMEs da Baixada Fluminense (RJ). Escreve na voz de Marc Jaderson — direto, técnico, sem firula. Fala com donos de PMEs: advogados, contadores, médicos em clínicas pequenas.\\n\\nTom: sem bullshit corporativo. Concreto, exemplos reais, linguagem acessível mas não infantil. PT-BR. Primeira pessoa do singular quando fizer sentido.\\n\\nRetorne APENAS um JSON válido com esta estrutura, sem markdown, sem explicações:\\n{\\n  \"title\": \"Título do artigo (max 70 chars, SEO-friendly)\",\\n  \"slug\": \"slug-do-artigo-sem-acentos\",\\n  \"excerpt\": \"Resumo de 2-3 linhas para SEO e redes sociais.\",\\n  \"tags\": [\"tag1\", \"tag2\", \"tag3\"],\\n  \"content\": \"Conteúdo completo do artigo em Markdown. Mínimo 800 palavras. Inclui: introdução direta (sem 'neste artigo vamos ver'), 3-4 seções com H2, exemplos concretos de PMEs brasileiras, CTA final para contato com a Sapienza Labs.\"\\n}`;\nconst user = `Pilar: ${ctx.pilar}\\nData: ${ctx.today}\\nTendências identificadas:\\n${ctx.trends}\\n\\nGere um artigo para o blog da Sapienza Labs sobre este pilar, usando as tendências como gancho mas com ângulo próprio e opinião clara.`;\nconst anthropicBody = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4000,\n  system,\n  messages: [{ role: 'user', content: user }]\n};\nreturn [{ json: { ...ctx, anthropicBody } }];"
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Claude API (gerar artigo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 240],
      "notes": "Modelo claude-sonnet-4-6. Opcional: adicionar output_config.format (json_schema) ao body para garantir JSON válido."
    },
    {
      "parameters": {
        "jsCode": "// Faz parse do JSON do artigo e monta o arquivo MDX + payload do GitHub.\nconst resp = $input.first().json;\nconst ctx = $('Build Claude Request').first().json;\nlet text = Array.isArray(resp.content)\n  ? resp.content.filter((b) => b.type === 'text').map((b) => b.text).join('')\n  : '';\ntext = text.trim().replace(/^```(json)?/i, '').replace(/```$/, '').trim();\nconst article = JSON.parse(text);\nconst date = ctx.today;\nconst mdx = [\n  '---',\n  `title: ${JSON.stringify(article.title)}`,\n  `slug: ${JSON.stringify(article.slug)}`,\n  `excerpt: ${JSON.stringify(article.excerpt)}`,\n  `pillar: ${JSON.stringify(ctx.pilar)}`,\n  `publishedAt: ${JSON.stringify(date)}`,\n  'author: \"Marc Jaderson\"',\n  `tags: ${JSON.stringify(article.tags || [])}`,\n  'coverImage: \"/og-image.png\"',\n  '---',\n  '',\n  article.content,\n  ''\n].join('\\n');\nconst filename = `${date}-${article.slug}.mdx`;\nconst path = `app/blog/posts/${filename}`;\nconst contentB64 = Buffer.from(mdx, 'utf-8').toString('base64');\nconst githubBody = {\n  message: `feat(blog): add post '${article.title}' [${ctx.pilar}]`,\n  content: contentB64,\n  branch: 'main'\n};\nreturn [{ json: { path, filename, title: article.title, pilar: ctx.pilar, githubBody } }];"
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Build MDX + GitHub Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/jadersonmarc/spa-sapienza/contents/{{ $json.path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=token {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "User-Agent", "value": "sapienza-n8n" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.githubBody }}",
        "options": {}
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "GitHub: criar arquivo (commit main)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240],
      "notes": "Commit direto na main dispara o redeploy do Coolify e, via push, a GitHub Action publish-social.yml."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "editorial-social",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Webhook Social (da GitHub Action)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 620],
      "webhookId": "editorial-social"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Validar X-Webhook-Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-420, 620]
    },
    {
      "parameters": {
        "jsCode": "// Monta a legenda do Instagram e o post do LinkedIn a partir do payload do webhook.\nconst p = $('Webhook Social (da GitHub Action)').first().json.body || {};\nconst tags = (p.tags || []).slice(0, 2).map((t) => '#' + String(t).replace(/[^a-zA-Z0-9]/g, '')).join(' ');\nconst igCaption = `${p.title}\\n\\n${p.excerpt}\\n\\nArtigo completo 👇\\n${p.url}\\n\\n${tags} #PME #sapienzalabs #softwaresobmedida`;\nconst liText = `${p.title}\\n\\n${p.excerpt}\\n\\n→ ${p.url}\\n\\nPublico sobre ${p.pillar} toda semana. Segue o perfil para acompanhar.`;\nreturn [{ json: { ...p, igCaption, liText, image_url: 'https://sapienzalabs.com.br/og-image.png' } }];"
      },
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Build Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { image_url: $json.image_url, caption: $json.igCaption, access_token: $env.INSTAGRAM_ACCESS_TOKEN } }}",
        "options": {}
      },
      "id": "cccccccc-cccc-4ccc-8ccc-cccccccccccc",
      "name": "Instagram: criar container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 540],
      "notes": "Requer conta Instagram Business. image_url usa o OG default do site (sem stock)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { creation_id: $json.id, access_token: $env.INSTAGRAM_ACCESS_TOKEN } }}",
        "options": {}
      },
      "id": "dddddddd-dddd-4ddd-8ddd-dddddddddddd",
      "name": "Instagram: publicar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.LINKEDIN_ACCESS_TOKEN }}" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { author: $env.LINKEDIN_AUTHOR_URN, lifecycleState: 'PUBLISHED', specificContent: { 'com.linkedin.ugc.ShareContent': { shareCommentary: { text: $('Build Captions').first().json.liText }, shareMediaCategory: 'NONE' } }, visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' } } }}",
        "options": {}
      },
      "id": "eeeeeeee-eeee-4eee-8eee-eeeeeeeeeeee",
      "name": "LinkedIn: publicar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 700],
      "notes": "OAuth 2.0 com escopo w_member_social. LINKEDIN_AUTHOR_URN = 'urn:li:person:XXXX'."
    },
    {
      "parameters": {},
      "id": "ffffffff-ffff-4fff-8fff-ffffffffffff",
      "name": "Log Resultado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [460, 620],
      "notes": "Execução fica registrada no histórico do n8n. Para log em arquivo (/home/n8n/logs), adicione um nó Read/Write File aqui."
    }
  ],
  "connections": {
    "Cron seg/qua/sex 08h BRT": {
      "main": [[{ "node": "Set Pilar Context", "type": "main", "index": 0 }]]
    },
    "Set Pilar Context": {
      "main": [[{ "node": "Buscar Tendências (RSS)", "type": "main", "index": 0 }]]
    },
    "Buscar Tendências (RSS)": {
      "main": [[{ "node": "Parse Tendências", "type": "main", "index": 0 }]]
    },
    "Parse Tendências": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude API (gerar artigo)", "type": "main", "index": 0 }]]
    },
    "Claude API (gerar artigo)": {
      "main": [[{ "node": "Build MDX + GitHub Payload", "type": "main", "index": 0 }]]
    },
    "Build MDX + GitHub Payload": {
      "main": [[{ "node": "GitHub: criar arquivo (commit main)", "type": "main", "index": 0 }]]
    },
    "Webhook Social (da GitHub Action)": {
      "main": [[{ "node": "Validar X-Webhook-Secret", "type": "main", "index": 0 }]]
    },
    "Validar X-Webhook-Secret": {
      "main": [
        [{ "node": "Build Captions", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Captions": {
      "main": [[{ "node": "Instagram: criar container", "type": "main", "index": 0 }]]
    },
    "Instagram: criar container": {
      "main": [[{ "node": "Instagram: publicar", "type": "main", "index": 0 }]]
    },
    "Instagram: publicar": {
      "main": [[{ "node": "LinkedIn: publicar", "type": "main", "index": 0 }]]
    },
    "LinkedIn: publicar": {
      "main": [[{ "node": "Log Resultado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templatecredsSetupCompleted": false
  },
  "tags": ["sapienza", "editorial", "automacao"]
}
